.search{
    margin: 20px 50px 0;
    display: flex;
}
.search input{
    padding: 20px 10px 10px;
    border: 0;
    width: 70%;
    color: cornflowerblue;
    font-size: 20px;
}
.search input:focus{
    border-bottom: 1px solid aliceblue;
    outline: none;
}
.btn{
    padding: 6px 16px;
    background: rgb(19, 99, 153);
    color:rgb(187, 190, 201);
    border: 2px solid;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: inset 1px 1px 2px white;
    font-family: fantasy;
    width: 100px;
    cursor: pointer;
}
.radio{
    margin: 20px 20px 0;
    display: flex;
    justify-items: first baseline;
    background: local;
    background-color: aquamarine;
}
.radio input{
    width: 20px;
    height: 20px;
}
.radio span{
    margin-right: 50px;
    font-size: 20px;
}
.btr{
    background: rgb(207, 223, 235);
    color:rgb(46, 55, 85);
    border: 2px solid;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: inset 1px 1px 2px white;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    width: 10%;
    margin: 5px;
    padding: 5px;

}
.navigator{
    display:flex;
    justify-content:space-between;
    margin-left: 20px;
    margin-right: 10px;
}
.item .btn_num{
    width: 40px;
}
