body{
    padding: 10px;
}
.tasks{
    background: rgb(197, 185, 185);
    border-radius: 4px;
    padding: 5px;
    max-width: 20%;
}
.task{
    background: white;
    box-shadow: 1px 1 px 1px rgba(0, 0, 0, alpha);
    padding: 3px, 10px;
    font-size: 12px;
    margin-bottom:  6px;
    display: flex;
    border-radius: 2px;
    align-items: center;
    justify-content: space-between;
}
